In [ ]:
!pip install siuba

In [ ]:
!pip install openai

In [ ]:
import bs4
from bs4 import BeautifulSoup

import requests

import pandas as pd

import re

from plotnine import *
from siuba import *

import os
import json
import openai

import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

import gensim
from gensim import corpora
from gensim import models

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

openai.api_key = "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"

In [ ]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
req = requests.get(url)

soup = BeautifulSoup(req.text, 'html.parser')
movies = soup.find_all("tr")[1:]

In [ ]:
imdb_link = 'https://www.imdb.com'
lista_links = []
lista_nomes = []
lista_ratings = []
lista_n_ratings = []

for movie in movies:
  temp = movie.find("a")
  link = imdb_link + temp["href"]
  nome = temp.find("img")["alt"]
  
  rating_str = movie.find("td", class_="ratingColumn").find("strong")["title"]
  temp = [x.replace(",","") for x in re.findall(r'\b\d+[^ ]*\d+', rating_str)]
  rating = temp[0]
  n_ratings = temp[1]

  lista_links.append(link)
  lista_nomes.append(nome)
  lista_ratings.append(rating)
  lista_n_ratings.append(n_ratings)

In [ ]:
df = pd.DataFrame({"Nome": lista_nomes, "Rating": lista_ratings, "Avaliações": lista_n_ratings, "Link": lista_links})
df

,Nome,Rating,Avaliações,Link
0,The Shawshank Redemption,9.2,2577915,https://www.imdb.com//title/tt0111161/
1,The Godfather,9.2,1774936,https://www.imdb.com//title/tt0068646/
2,The Dark Knight,9.0,2546248,https://www.imdb.com//title/tt0468569/
3,The Godfather: Part II,9.0,1227203,https://www.imdb.com//title/tt0071562/
4,12 Angry Men,8.9,761385,https://www.imdb.com//title/tt0050083/
...,...,...,...,...
245,The Help,8.0,448871,https://www.imdb.com//title/tt1454029/
246,Beauty and the Beast,8.0,440757,https://www.imdb.com//title/tt0101414/
247,The Batman,8.0,400241,https://www.imdb.com//title/tt1877830/
248,Rififi,8.0,33703,https://www.imdb.com//title/tt0048021/
249,Dances with Wolves,8.0,258986,https://www.imdb.com//title/tt0099348/

In [ ]:
def get_director(url):
  req = requests.get(url)
  soup = BeautifulSoup(req.text, 'html.parser')
  return soup.find('a', class_='ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link').text

def get_stars(url):
  req = requests.get(url)
  soup = BeautifulSoup(req.text, 'html.parser')
  result = [x.text for x in soup.find_all("ul", class_="ipc-inline-list ipc-inline-list--show-dividers ipc-inline-list--inline ipc-metadata-list-item__list-content baseAlt")[2].find_all('li')]

  return result[0], result[1], result[2]

def write_synopsis(movie):
  response = openai.Completion.create(
  engine="text-davinci-002",
  prompt="Write a synopsis of the movie {}".format(movie),
  temperature=0.7,
  max_tokens=3000,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0
  )

  return response.to_dict_recursive()["choices"][0]["text"]

In [ ]:
df["Director"] = [get_director(link) for link in df.Link]
star = [get_stars(link) for link in df.Link]

df["Star_1"] = [x[0] for x in star]
df["Star_2"] = [x[1] for x in star]
df["Star_3"] = [x[2] for x in star]

df["Synopsis"] = [write_synopsis(movie) for movie in df.Nome]

In [ ]:
df["Rating"] = df.Rating.apply(float)
df["Avaliações"] = df.Avaliações.apply(int)
df["Synopsis"] = [re.sub('\n', '', text) for text in df.Synopsis]

In [ ]:
df.columns = ['name', 'rating', 'n', 'link', 'director', 'star_1', 'star_2', 'star_3', 'synopsis']

In [ ]:
# df.to_csv('imdb_movies.csv', index=False)

In [ ]:
df

,Nome,Rating,Avaliações,Link,Director,Star_1,Star_2,Star_3,Synopsis
0,The Shawshank Redemption,9.2,2577915,https://www.imdb.com//title/tt0111161/,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,The Shawshank Redemption is a 1994 American dr...
1,The Godfather,9.2,1774936,https://www.imdb.com//title/tt0068646/,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,The Godfather is a 1972 American crime drama d...
2,The Dark Knight,9.0,2546248,https://www.imdb.com//title/tt0468569/,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,The Dark Knight is a 2008 superhero film direc...
3,The Godfather: Part II,9.0,1227203,https://www.imdb.com//title/tt0071562/,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,The Godfather Part II is a 1974 American epic ...
4,12 Angry Men,8.9,761385,https://www.imdb.com//title/tt0050083/,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,A group of 12 jurors are tasked with deciding ...
...,...,...,...,...,...,...,...,...,...
245,The Help,8.0,448871,https://www.imdb.com//title/tt1454029/,Tate Taylor,Emma Stone,Viola Davis,Octavia Spencer,Based on the best-selling novel by Kathryn Sto...
246,Beauty and the Beast,8.0,440757,https://www.imdb.com//title/tt0101414/,Gary Trousdale,Paige O'Hara,Robby Benson,Jesse Corti,A young woman named Belle is taken prisoner by...
247,The Batman,8.0,400241,https://www.imdb.com//title/tt1877830/,Matt Reeves,Robert Pattinson,Zoë Kravitz,Jeffrey Wright,"The movie is about Bruce Wayne, who becomes Ba..."
248,Rififi,8.0,33703,https://www.imdb.com//title/tt0048021/,Jules Dassin,Jean Servais,Carl Möhner,Robert Manuel,"In Rififi, a group of four criminals come toge..."
249,Dances with Wolves,8.0,258986,https://www.imdb.com//title/tt0099348/,Kevin Costner,Kevin Costner,Mary McDonnell,Graham Greene,"In the year 1863, Lt. John Dunbar is injured i..."

In [ ]:
# df = pd.read_csv("imdb_movies.csv")

In [ ]:
extra_stops = ["film"]
stemmer = SnowballStemmer('english')

def clean_str(txt, stem=True):
  txt = re.sub("[^A-ù -]","", txt.lower())
  words = [x for x in word_tokenize(txt) if x not in stopwords.words('english') and x not in extra_stops]
  if stem:
    words = [stemmer.stem(word) for word in words]
  return words

# Topic models: movie genre

In [ ]:
token_txt = df.synopsis.apply(clean_str)
dic = corpora.Dictionary(token_txt)
corpus = [dic.doc2bow(token) for token in token_txt]

In [ ]:
lda = models.ldamodel.LdaModel(corpus, num_topics=5, id2word=dic, passes=25, random_state=1, iterations=100)

topic_list = lda.print_topics(num_words=6)

for topic in topic_list:
    print(topic)

(0, '0.009*"life" + 0.006*"stori" + 0.006*"man" + 0.005*"son" + 0.004*"famili" + 0.004*"star"')
(1, '0.006*"way" + 0.006*"one" + 0.005*"two" + 0.005*"find" + 0.005*"forc" + 0.005*"live"')
(2, '0.006*"way" + 0.006*"live" + 0.006*"find" + 0.006*"young" + 0.005*"must" + 0.005*"come"')
(3, '0.007*"best" + 0.006*"war" + 0.006*"american" + 0.006*"aveng" + 0.005*"find" + 0.005*"award"')
(4, '0.009*"find" + 0.006*"stori" + 0.005*"bud" + 0.005*"day" + 0.005*"help" + 0.004*"movi"')

# Predicting IMDB score

In [ ]:
words = []

token_txt = df.synopsis.apply(lambda x: clean_str(x, False))
dic = corpora.Dictionary(token_txt)
corpus = [dic.doc2bow(token) for token in token_txt]

for token in token_txt:
  for word in token:
    words.append(word)

In [ ]:
freq_dic = dict()

for word in words:
  if word in freq_dic.keys():
    freq_dic[word] += 1
  else:
    freq_dic[word] = 1

In [ ]:
word_df = pd.DataFrame({'words': freq_dic.keys(), 'count': freq_dic.values()})
top_1000_words = word_df.sort_values('count', ascending=False).words[:1000]

In [ ]:
top_1000_words

25          life
20         story
358        movie
127          one
333          man
          ...
1330       driss
2601     veteran
1624     refuses
1335      person
2034    premiere
Name: words, Length: 1000, dtype: object

In [ ]:
exvec = CountVectorizer()
exvec.fit_transform(top_1000_words.tolist())
mat = exvec.transform(df.synopsis).toarray()

In [ ]:
df_mod = pd.DataFrame(mat)
df_mod.columns = exvec.get_feature_names()
df_mod

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abducted,ability,able,academy,accident,accused,achieve,across,action,actor,...,world,would,write,written,wrong,year,years,york,young,zain
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,2,2,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
X = df_mod.reset_index(drop=True)
y = df.rating.reset_index(drop=True)

X_trn, X_tst, y_trn, y_tst = train_test_split(X, y, train_size = 0.2)

In [ ]:
dt = DecisionTreeRegressor()
rf = RandomForestRegressor()
boost = GradientBoostingRegressor()

dt.fit(X_trn, y_trn)
rf.fit(X_trn, y_trn)
boost.fit(X_trn, y_trn)

GradientBoostingRegressor()

In [ ]:
y_pred_dt = dt.predict(X_tst)
y_pred_rf = rf.predict(X_tst)
y_pred_boost = boost.predict(X_tst)

print(f"Decision Tree Error: {round(mean_squared_error(y_tst, y_pred_dt, squared=False), 2)}")
print(f"Random Forest Error: {round(mean_squared_error(y_tst, y_pred_rf, squared=False), 2)}")
print(f"Gradient Boosting Error: {round(mean_squared_error(y_tst, y_pred_boost, squared=False), 2)}")

Decision Tree Error: 0.33
Random Forest Error: 0.24
Gradient Boosting Error: 0.25